<!-- POPOVER -->
<div v-if="isEnd(roomType, compDate.dateStr) && !smallScreen" @click.stop=""
class="absolute bottom-0 right-0 z-50 py-2 pl-3 pr-4 text-sm transform translate-x-full translate-y-full bg-white border rounded-lg"
style="--tw-translate-x: 0%; --tw-translate-y: -55px" :style="hoveredRooms.length > 5 ? 'width: 350px' : 'width: 185px'">
<div v-if="loadingRoomOptions">
    <svg class="w-5 h-5 mr-3 -ml-1 text-black animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
</div>
<div class="grid grid-flow-col gap-x-4" :class="popoverGridClass" v-else>
    <template v-for="h in hoveredRooms">
        <div v-if="h.available == true" :key="h.room.id" class="flex items-center py-2 cursor-pointer"
            @click="h.available == true ? addToBookedRoom(h.room, h.date) : ''">
            <svg v-if="!isBooked(h.room.id, h.date)" viewBox="0 0 16 16" class="flex-shrink-0 inline-block w-6 h-6 mr-2 text-brand-blue" fill="none" stroke="currentColor">
                <path d="M8 14.703a6.75 6.75 0 100-13.5 6.75 6.75 0 000 13.5z" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg v-else class="flex-shrink-0 inline-block w-6 h-6 mr-2 text-brand-blue" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>

            <span class="text-gray-700 whitespace-nowrap">
                {{ h.room.name }}
            </span>
        </div>
    </div>
    <div class="py-2 text-xs text-left" v-if="canSwap && shouldSwap">
        <p>
            We are able to welcome you on your chosen dates in the rooms above.
            However, additional rooms may be available. Please proceed
            if you are happy to change rooms during your visit
        </p>
        <button class="flex items-center justify-end w-full pt-2 text-gray-800" @click="showRoomSelect = true">
            Select Indivual Rooms
            <svg class="w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

</div>
</div>
<!-- POPOVER END -->
