@font-face {
  font-family: "MaisonNeue";
  src: local("MaisonNeue"),
   url(~assets/fonts/MaisonNeue-Book.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeue";
  src: local("MaisonNeue"),
   url(~assets/fonts/MaisonNeue-Demi.ttf) format("truetype");
   font-weight: bold;
}

*{
  font-family: 'Rubik', sans-serif;
}